<div id="push" ></div>
<footer class="footer navbar-fixed-bottom">
<div class="container">
<nav>
<ul>
<%= link_to "contact us" %>
<%= link_to "contact ",  "#" %>
<%= link_to "menu",  "#" %>
<%= link_to "about",  "#" %>
</ul>
</nav>
</div>
</footer>